$hover-scale: 1.02;
$color-background: #dbdbdb;
$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$danger:    #dc3545;
$warning:   #ffc107;
$orange:    #fd7e14;
$purple:    #6f42c1;
$light:     #f8f9fa;
$dark:      #343a40;
$background-card: #bbbbbb;