@import 'variables';
@import 'header';
@import 'content';
@import 'footer';
@import 'global';
@import 'introduction-page';
@import 'main-menu';
@import 'geting-started';
@import 'community-page';
@import 'override-bootstrap-default-styles.scss';
@import 'popup-message';
@import 'donate-page';

/**
 * File created to fix problems while migrating to bootstrap4,
 * Once migration is done this can be made final
 */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Behave more like an application by
   * preventing text highlighting / dragging. */
  -webkit-user-select: none;
  cursor: default;
}

body, button {
  font-family: 'Ubuntu', sans-serif;
}

#wrapper {
  min-height: 100%;
  position: relative;
  background: white;
  color: rgb(0, 0, 0);
  #openStartup {
      color: rgba(0, 0, 0, 0.7);
  }
  #senderBox {
      position: relative;
    color: rgba(0, 0, 0, 0.7); /* Borda clara para destacar */
  }
  .card-menu-body {
    background-color: #ffffff;
  }
  .text-customization {
    color: black;
  }
  .main-text-customization {
    color: black;
  }
  .color-texts-system {
    color: black;
  }
  #change-password-text-color {
    color: black;
}
  .hover-box {
  display: none;
  position: absolute;
  bottom: 100%; /* Aparece acima da caixa original */
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 12px;
  color: #495057;
  width: max-content;
  white-space: nowrap;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
 }

 #openStartup:hover .hover-box,
 .form-check-input:focus + .form-check-label + .hover-box{
   display: block;
 }

  &.dark-mode{
  	min-height: 100%;
  	position: relative;
    background: $dark;
    color: black;
    .main-text-customization {
      color: #ffffff;
    }

    #senderBox {
      position: relative;
      color: rgba(255, 255, 255, 0.7); /* Borda clara para destacar */
    }

    .text-theme {
      color: black;
    }

    .text-customization {
      color: #ffffff;
    }

    .color-texts-system {
      color: #ffffff;
    }
    
    #change-password-text-color {
      color: #ffffff;
    }

    .card-menu-body {
      background-color: $background-card;
    }


    #openStartup {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.center {
  text-align: center;
  vertical-align: middle;
}

.backdrop-simple {
  background-color: $color-background;
}

.cursor-wait {
  cursor: wait;
}

.cursor-progress {
  cursor: progress;
}

/* Live session and post installation session options */
.live-session-only, .normal-session-only {
  display: none
}

/* Official releases & Unofficial releases */
.official-only, .unofficial-only {
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.video-link {
  font-size: 16px;
  transition: color 0.5s, transform 0.5s;

  .icon-video-tour {
    color: $danger;
    font-size: 32px;
    transition: transform 0.3s;
    line-height: 0;
  }

  .lbl-video-tour {
    color: $dark;
    display: inline-block;
    transition: transform 0.5s;
  }

  &:hover,
  &:focus {
    .icon-video-tour {
      transform: scale(1.1);
    }

    .lbl-video-tour {
      transform: scale(1.05);
    }

    text-decoration: none;
    animation: none; // Para parar a animação enquanto o cursor está em cima ou em foco
  }

  &.blink {
    animation: blink 2.5s infinite;
  }
}

// Menu Cards
.card-menu-1 {
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid $primary;
    transform: scale($hover-scale);
    cursor: pointer;
  }

  cursor: default;
}

#senderBox {
  position: relative;
}

.hover-box {
  display: none;
  position: absolute;
  bottom: 100%; /* Aparece acima da caixa original */
  left: 50%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 12px;
  color: #495057;
  width: max-content;
  white-space: nowrap;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#senderBox:hover .hover-box,
.form-check-input:focus + .form-check-label + .hover-box{
  display: block;
}

.card-menu-2 {
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid $success;
    transform: scale($hover-scale);
    cursor: pointer;
  }
  
  cursor: default;
}

.card-menu-3 {
  transition: all 0.3s ease;
  .btn-icon {
    color: $orange;
  }

  &:hover {
    border: 1px solid $orange;
    transform: scale($hover-scale);
    cursor: pointer;
  }
  
  cursor: default;
}

.card-menu-4 {
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid $warning;
    transform: scale($hover-scale);
    cursor: pointer;
  }
  
  cursor: default;
}

.card-menu-5 {
  transition: all 0.3s ease;
  .btn-icon {
    color: $purple;
  }

  &:hover {
    border: 1px solid $purple;
    transform: scale($hover-scale);
    cursor: pointer;
  }
  
  cursor: default;
}

.card-menu-6 {
  transition: all 0.3s ease;
  &:hover {
    border: 1px solid $danger;
    transform: scale($hover-scale);
    cursor: pointer;
  }
  
  cursor: default;
}

// Card-body
.card-menu-body {
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  }
}

.card-password {
  transition: color 0.5s, transform 0.5s;
  .card-icon-password {
    transition: transform 0.3s;
  }

  .card-lbl-password {
    transition: transform 0.5s;
  }

  &.shake {
    animation: shake 2.5s infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}
