[Desktop Entry]
Terminal=false
Type=Application
Categories=Utility;GNOME;GTK;
StartupNotify=false
Name=Policorp Linux Welcome
Exec=env GDK_BACKEND=x11 /usr/share/policorp-linux-welcome/policorp-linux-welcome
Icon=/usr/share/policorp-linux-welcome/data/img/welcome/icon.svg
Comment=Find out about your operating system.
Keywords=desktop;preferences;
StartupWMClass=policorp-linux-welcome
